.board-wrapper {
    min-height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2A282F;
}

.box {
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2;
    float: left;
    background: rgb(250, 209, 209);
}

.board {
    cell-spacing: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    margin: 30px auto;
  } 

.board td {
    border: 1px solid #dadadaad;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 4em;
}
  
.board tr:first-child td {
    border-top: none
}
  
.board tr:last-child td {
    border-bottom: none
}
  
.board tr td:first-child {
    border-left: none;
}
  
.board tr td:last-child {
    border-right: none;
}

#scoreboard .score {
    text-align: center;
    font-size: 30px
}

#scoreboard .player {
    color: #dadadaad;
}

#scoreboard .player:nth-child(2) {
    padding: 0 3rem 0 4rem;
}

#scoreboard .score:nth-child(2) {
    padding: 0 3rem 0 4rem;
}
  
#scoreboard .score#player1 {
    color: #CD3F4C;
}

#scoreboard .score#tie {
    color: #dadadaad;
}
  
#scoreboard .score#player2 {
    color: #50BAB9;
}

.board-heading {
    margin: .5rem auto 1.5rem;
    text-align: center;
    color: #dadadaad;
}

.btn {
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: transparent;
    color: white;
    font-weight: 600;
}

.red {
    color: #CD3F4C;
}

.blue {
    color: #50BAB9;
}